h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}
#listGw {
	margin-bottom: 15px;
}

.heading { color: #ffffff; }

.text-blue { color: blue; }
.text-gray { color: gray; }
.fa-wifi-box {
	padding-top: 2px; margin-right: 5px;
}
.fa-wifi-connected {
	font-weight: bold;
	color: blue;
}
.fa-wifi-disconnected {
	font-weight: bold;
	color: lightgray;
}
.list-header {
	background: #CDE;
    font-weight: bold;
    text-align: center;	
}